# Default ignored files
**/reports/
**/target/
**/logs/
**/.DS_Store
**/*.iml
**/.allure
**/allure-results/
**/allure-reports/
!**/.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### VS Code ###
**/.vscode/