# Default ignored files
**/.gitignore
**/.dockerignore
**/.editorconfig
**/Dockerfile
**/HELP.md
**/README.md
**/.DS_Store
**/*.iml
**/reports/
**/target/
**/logs/
**/.git/
**/.allure/
**/allure-results/
**/allure-reports/
!**/.mvn/
!**/src/main/**/target/
!**/src/test/**/target/

### VS Code ###
**/.vscode/
